.language-toggle {
    position: absolute;
    top: 3.75rem;
    right: 11rem;
    display: flex;
    background: var(--light-color);
    border-radius: 25px;
    padding: 3px;
    border: 1px solid var(--light-neutral-color);
    z-index: 9999;
    height: 50px;
    animation: fadeInSlideDown 0.4s ease 0.2s both;
}

@keyframes fadeInSlideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-menu.closing .language-toggle {
    animation: fadeOutSlideUp 0.3s ease 0.2s both;
}

@keyframes fadeOutSlideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.language-option {
    background: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: var(--light-neutral-color);
    min-width: 50px;
    text-align: center;
    letter-spacing: 0.5px;

    font-family: var(--futura-font);
    font-weight: var(--futura-book);
}

.language-option:hover {
    color: var(--dark-color);
}

.language-option.active {
    color: var(--dark-color);
    font-weight: 600;
    font-weight: var(--futura-medium);
}

.language-option:focus {
    outline: none;
}