.tab-menu {
    margin-top: 1.8rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    border: none;
    border-radius: 0px;
    overflow: visible;
    background: transparent;
}

.tab-item {
    padding: 0;
    border: none;
    background: transparent;
    color: var(--dark-color); 
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.04rem;
    position: relative;
    font-size: 2.1rem;
    font-family: var(--futura-font);
    font-weight: var(--futura-book);
    /* font-family: var(--serif-font); */
}

.tab-item:hover {
    color: var(--neutral-color);
}

.tab-item.active {
    background: transparent;
    color: var(--neutral-color); 
}

.tab-item:not(:last-child)::after {
    content: " - ";
    color: var(--neutral-color);
    font-weight: 100;
    pointer-events: none;
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .tab-menu {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .tab-menu {
        font-size: 1.4rem;
        flex-wrap: wrap;
    }
    
    .tab-item:not(:last-child)::after {
        content: " / ";
        display: inline;
    }
}