.text-paragraph {
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: var(--serif-font);
    line-height: 1.6;
}

.text-paragraph.medium {
    font-size: 1.2rem;
    line-height: 1.4;
}

.text-paragraph.large {
    font-size: 1.5rem;
    line-height: 1.5;
}

.text-paragraph.extra-large {
    font-size: 2.2rem;
    line-height: 1.15;
    letter-spacing: 0.05rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    .text-paragraph.medium {
        font-size: 1.1rem;
        line-height: 1.5;

        /* font-family: var(--futura-font);
        font-weight: var(--futura-book); */
    }

    .text-paragraph.large {
        font-size: 1.1rem;
        line-height: 1.6;
    }
    .text-paragraph.extra-large {
        font-size: 1.6rem;
        line-height: 1.3;
    }
}

@media (max-width: 480px) {
    .text-paragraph.medium {
        font-size: 1.1rem;
    }

    .text-paragraph.large {
        font-size: 1rem;
    }
}