/* Modal */
.presentation-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem;
}

.presentation-modal {
    background: var(--light-color);
    border-radius: 0px;
    width: 100vw;
    /* max-width: 500px; */
    max-height: 100vh;
    overflow-y: auto;
    padding: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    animation: modalFadeIn 0.3s ease-out;
}

.modal-close-button {
    /* position: absolute; */
    /* top: 0rem;
    right: 1rem; */
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: var(--dark-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: none;
    /* transition: background-color 0.3s ease; */
    font-family: var(--serif-font);
    font-style: italic;
}

.modal-close-button:hover {
    background: transparent !important;
    background-color: transparent !important;
    box-shadow: none !important; /* Por si hay sombra */
    border: none !important; /* Por si hay borde */
    outline: none !important; /* Por si hay outline */
}


.modal-title {
    font-size: 1.6rem;
    color: var(--dark-color);
    margin: 0 0 2rem 0;
    line-height: 1.3;
    padding-right: 2rem;

    font-family: var(--futura-font);
    font-weight: var(--futura-book);
}

.modal-carousel-container {
    margin-bottom: 2rem;
}

.modal-carousel .carrusel-container {
    height: 500px;
}

.modal-carousel .carrusel-image {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 0px;
}

.modal-carousel .carrusel-caption {
    display: none; /* Ocultar caption en el modal */
}

.modal-text {
    line-height: 1.6;
    color: var(--dark-color);
}

/* Animación */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.9) translateY(20px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

/* Media queries */
/* @media (max-width: 480px) {
    .presentation-modal {
        padding: 1.5rem;
        margin: 0.5rem;
    }
    
    .modal-title {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }
    
    .modal-carousel .carrusel-image {
        height: 200px;
    }
    
    .modal-carousel-container {
        margin-bottom: 1.5rem;
    }
} */