.section-newscta {
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: black;
    align-items: center;
    padding: 0rem 2rem 0rem 2rem;
    margin-top: 12rem;
}

.newscta-title {
    font-size: 1.8rem;
    margin: 0;
    font-family: var(--main-font);
    font-weight: 400;
    padding: 0;
    letter-spacing: -0.5px;
    padding-bottom: 1rem;
}

.cta-suscribe-home {
    color: white;
    background-color: black;
    font-family: var(--main-font);
    font-weight: 400;
    padding: 0.5rem 1rem;
    letter-spacing: -0.5px;
    font-size: 1.4rem;
    border: 1px solid rgba(255, 255, 255, 0.672);
    cursor: pointer;
    margin-bottom: 1rem;

}




/* ---------- Tablet ---------- */
@media (max-width: 1024px) {
    .section-newscta {
        margin-top: 8rem;
        gap: 2rem;
    }

    .newscta-title {
        font-size: 1.6rem;
    }
}

/* ---------- Móvil ---------- */
@media (max-width: 768px) {
    .section-newscta {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        padding: 3rem 1rem;
        margin-top: 5rem;
        /* margin-bottom: 0; */
    }

    .newscta-title {
        font-size: 1.4rem;
        padding-bottom: 0;
    }

    .cta-suscribe-home {
        font-size: 1.2rem;
        margin-bottom: 0;
    }
}